.image{
    width:100%;
    background: url('../images/cell-phone-close-up-contemporary-905873.jpg');
    background-size: cover;
    height:120vh;
  
  }
  
.card{
    width:60%;
    text-align: center;
    top:90px;
    opacity:0.9;
    border-radius:10px;
    border:1px solid black;
}
  
input{
    width:90%;
    border-radius: 0px;
    border:1px solid black;
    height:30px;
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
    font-size:20px;
}
textarea{
  border:1px solid black;
    
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
    font-size:20px;
}
#footer {
  background:#737373;
}
#footer ul.social li a{
color:#ffffff;
}
#footer ul.social li a:hover{
  color:black;
}
#footer ul.social li{
  padding-right: 15px;
  padding-top:15px;
}
.about{
  color:white;
}
input.ng-inavlid{
  border:1px solid red;
}
